{% extends "layouts/main.njk" %}
{% set activeId = "home" %}

{% block body %}
  <h1>My website</h1>
  <p>This is my website</p>
  <script type="module" src="/src/scripts/main.ts"></script>
{% endblock %}
